@use '../base/color';
@use '../base/typography' as t;
@use '../utils/mixin' as m;

.burger-nav-page{
    color: color.$standart-text;
    font-size:  40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    @include m.transition(none);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        color: color.$button;
    }
    
}
.burger-sites{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.burger-sites-a{
    color: color.$button;
    font-size: 18px;
    line-height: 1.22;
    padding-right: 10px;
}
.burger-sites-line{
    height: 100%;
    width: 1px;
    color: #757575;
}
.burger-sites-li{
    display: flex;
}
.burger-nav{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.burger-div-contact-num{
    color: color.$button;
    font-size:  34px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    @include m.transition(none);
    
}
.burger-div-contact-em{
    color: color.$add-information;
    font-size:  24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    @include m.transition(none);
    padding-top: 32px;
    padding-bottom: 64px;
    
}
.burger-header-email{
    width: 16px;
    height: 12px;
    fill: #757575;
    display: flex;
    align-items: center;
}
.burger-header-phone{
    width: 10px;
    height: 16px;
    fill: #757575;
    display: flex;
    align-items: center;
}
.burger-div-contact{
    align-items: center;
    gap: 8px;
    &:hover svg{
        fill: color.$button;
    }
        svg{
        @include m.transition(fill);
        }
}
.burger-menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: color.$h1text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
}
.burger-svg-close{
    position: absolute;
    top: 10px;
    right: 15px;
     svg{
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
     }
    &:hover svg{
        fill: color.$button
    }
}