@use '../base/color';
@use '../utils/placeholder';
@use '../utils/mixin' as m;
@use '../base/typography' as t;
.customers{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 94px 0;
}

.customers-h2{
    @extend %main-h2-text;
}
.customers-ul{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.customers-a{
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: block;
    width: 170px;
    height: 92px;
    @include m.transition(fill);

    &:hover{
    border: 1px solid color.$button;
        & .customers-svg{
            fill: color.$button;
        }
    }
}
.customers-svg{
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.customers-svg{
    
    @include m.transition(fill);
}