@use '../base/color';
@use '../base/typography' as t;
.deicsion{
    background-color: color.$header-fotter;
    padding-bottom: 118px;
    background-image: 
    linear-gradient(#2F303A66,#2F303A66), 
    url(../img/hat.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    @media screen and (min-width:320px){
        background-size: 100vw 100%;
        .decision-text{
            color: color.$h1text;
            padding: 118px 0 30px 0;
            font-size: 26px;
            font-weight: 900;
            line-height: 1.61;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
        }
        .decision-button{
            border-radius: 4px;
            background: #2196F3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            color: color.$h1text;
            font-size: 16px;
            font-weight:  t.$standart-weight;
            line-height: 1.875;
            letter-spacing: 0.96px;
            padding: 10px 24px;
            margin:0 auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }
        .decision-button-text{
            text-align: center;
        }
    }
    @media screen and (min-width:768px){
        .decision-text{
            color: color.$h1text;
            padding: 118px 0 30px 0;
            font-size: 26px;
            font-weight: 900;
            line-height: 1.61;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            width: 360px;
        }
        .decision-button{
            border-radius: 4px;
            background: #2196F3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            color: color.$h1text;
            font-size: 16px;
            font-weight:  t.$standart-weight;
            line-height: 1.875;
            letter-spacing: 0.96px;
            padding: 10px 24px;
            margin:0 auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            
        }
        .decision-button-text{
            text-align: center;
        }
    }
    @media screen and (min-width:1200px){
        padding-bottom: 200px;
        .decision-text{
            color: color.$h1text;
            padding: 200px 0 30px 0;
            font-size: 44px;
            font-weight: 900;
            line-height: 1.36364;
            letter-spacing: 2.64px;
            text-transform: uppercase;
            text-align: center;
            width: 696px;
        }
        .decision-button{
            border-radius: 4px;
            background: #2196F3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            color: color.$h1text;
            font-size: 16px;
            font-weight:  t.$standart-weight;
            line-height: 1.875;
            letter-spacing: 0.96px;
            padding: 10px 32px;
            margin:0 auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }
        .decision-button-text{
            text-align: center;
        }
    }
}
@media screen and (min-width:1600px) {
    .deicsion{
        background-size: auto auto;
    }
}