@use '../base/color';
.deicsion{
    background-color: color.$header-fotter;
    padding-bottom: 200px;
}
.deicsion{
    background-image: 
    linear-gradient(#2F303A66,#2F303A66), 
    url(../img/hat.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.decision-text{
    color: color.$h1text;
    padding: 200px 0 30px 0;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin:0 auto 0 auto;
    text-align: center;
    width: 696px;
}
.decision-button{
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: color.$h1text;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    margin:0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.decision-button-text{
    text-align: center;
}