@use '../base/color';
@use '../base/typography' as t;
@use '../utils/mixin' as m;
footer{
    background-color: color.$header-fotter;
     @media screen and (min-width:320px){
        .footer-container{
            padding-top: 60px;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
        .footer-telegram{
            width: 100%;
        }
        .logo-footer{
            display: flex;
            padding-bottom: 20px;
        }
        .logo-web{
            color: color.$button;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
            display: flex;
        }
        .footer-location{
            color: color.$h1text;
            font-size:  t.$standart-font-size;
            font-weight: 400;
            line-height: 1.71429; 
            letter-spacing: 0.42px;
        }
        .footer-contact{
            color: rgba(255, 255, 255, 0.60);
            font-size:  t.$standart-font-size;
            font-style: normal;
            font-weight: 400;
            line-height: 1.71429;
            letter-spacing: 0.42px;
        }
        .logo-studio-footer{
            color: color.$h1text;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
        }
        .footer-div{
            display: flex;
            flex-direction: column;
            row-gap: 9px;
        }
        .footer-sites-h2{
            color: color.$h1text;
            font-size:  t.$standart-font-size;
            font-weight:  t.$standart-weight;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        .footer-sites-ul{
            display: flex;
            gap: 10px;
        }
        .footer-sites-a{
            padding: 12px;
            border-radius: 4px;
            display: block;
            width: 44px;
            height: 44px;
            flex-shrink: 0;
            background-color: rgba(255, 255, 255, 0.10);
            border-radius: 100%;

            
            @include m.transition(fill);

            &:hover{
                background-color: color.$button;
            }
        }
        .footer-sites-svg{
            fill: color.$h1text;
            width: 20px;
            height: 20px;
        }
        .footer-container{
            display: flex;
            gap: 70px;
        }
        .footer-telegram-p{
            color: color.$h1text;
            font-size:  t.$standart-font-size;
            font-weight:  t.$standart-weight;
            letter-spacing: 0.42px;
            text-transform: uppercase;

            margin-bottom: 20px;
        }
        .footer-telegram-form{
            width: 100%;
        }
        .footer-telegram-btn{
            border-radius: 4px;
            background: #2196F3;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

            color:color.$h1text;
            font-family: t.$standart-font;
            font-size: 16px;
            font-weight:  t.$standart-weight;
            line-height: 1.87;
            letter-spacing: 0.96px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 28px;
        }
        .footer-telegram-input{
            width: 100%;
            height: 50px;

            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background: rgba(33, 150, 243, 0.00);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

            font-family: t.$standart-font;

            padding-left: 16px;

            color: #FFF;

        }
        .footer-telegram{
        }
        .footer-telegram-form{
            display: flex;
            gap: 12px;
        }
        .footer-telegram-svg{
            width: 24px;
            height: 24px;
        }
    }
    @media screen and (min-width:768px){
        .footer-container{
            flex-direction: row;
            flex-wrap: wrap;
            padding: 60px 76px;
            align-items: start;
            div:nth-child(2){
                padding-top: 5px;
            }
            justify-content: center;
            column-gap: 165px;
        }
        .footer-telegram-form{
            width: auto;
        }
        .footer-telegram-input{
            width: 358px;
        }
    }
    @media screen and (min-width:1200px){
        .logo-footer{
            display: flex;
            padding: 60px 0 20px;
        }
        .footer-container {
            padding: 0;
            div{
                display: block;
                form{
                    flex-direction: row;
                }
            }
            .footer-div{
            display: flex;
            padding-bottom: 60px;
            flex-direction: column;
            row-gap: 9px;
            justify-content: start;
            align-items: start;
        }
            justify-content: start;
            align-items: start;
            flex-wrap: nowrap;
        }
        .logo-web{
            color: color.$button;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
            display: flex;
        }
        .footer-location{
            color: color.$h1text;
            font-size:  t.$standart-font-size;
            font-weight: 400;
            line-height: 1.71429; 
            letter-spacing: 0.42px;
        }
        .footer-contact{
            color: rgba(255, 255, 255, 0.60);
            font-size:  t.$standart-font-size;
            font-style: normal;
            font-weight: 400;
            line-height: 1.71429;
            letter-spacing: 0.42px;
        }
        .logo-studio-footer{
            color: color.$h1text;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
        }
        
        .footer-sites-h2{
            color: color.$h1text;
            font-size:  t.$standart-font-size;
            font-weight:  t.$standart-weight;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            padding-top: 72px;
            padding-bottom: 20px;
        }
        .footer-sites-ul{
            display: flex;
            gap: 10px;
        }
        .footer-sites-a{
            padding: 12px;
            border-radius: 4px;
            display: block;
            width: 44px;
            height: 44px;
            flex-shrink: 0;
            background-color: rgba(255, 255, 255, 0.10);
            border-radius: 100%;

            
            @include m.transition(fill);

            &:hover{
                background-color: color.$button;
            }
        }
        .footer-sites-svg{
            fill: color.$h1text;
            width: 20px;
            height: 20px;
        }
        .footer-container{
            display: flex;
            gap: 70px;
        }
        .footer-telegram-p{
            color: color.$h1text;
            font-size:  t.$standart-font-size;
            font-weight:  t.$standart-weight;
            letter-spacing: 0.42px;
            text-transform: uppercase;

            margin-bottom: 20px;
        }
        .footer-telegram-btn{
            border-radius: 4px;
            background: #2196F3;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

            color:color.$h1text;
            font-family: t.$standart-font;
            font-size: 16px;
            font-weight:  t.$standart-weight;
            line-height: 1.87;
            letter-spacing: 0.96px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 28px;
        }
        .footer-telegram-input{
            width: 358px;
            height: 50px;

            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background: rgba(33, 150, 243, 0.00);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

            font-family: t.$standart-font;

            padding-left: 16px;

            color: #FFF;


        }
        .footer-telegram{
            margin-top: 72px;
            margin-left: 23px;
        }
        .footer-telegram-form{
            display: flex;
            gap: 12px;
        }
        .footer-telegram-svg{
            width: 24px;
            height: 24px;
        }
    }
}
