@use '../base/color';
@use '../base/typography' as t;
@use '../utils/mixin' as m;
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid color.$line;
    
    @media screen and (min-width:320px){
            .header-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-menu{
                width: 40px;
                height: 40px;
            }
            .logo{
                display: flex;
                animation: zoomInLeft 2s cubic-bezier(0,.59,.64,.99);
            }
            .logo-web{
                color: color.$button;
                font-family: t.$logo-font;
                font-size: 26px;
                font-weight:  t.$standart-weight;
                line-height: normal;
                letter-spacing: 0.78px;
                display: flex;
            }
            .logo-studio{
                color: color.$logocolour;
                font-family: t.$logo-font;
                font-size: 26px;
                font-weight:  t.$standart-weight;
                line-height: normal;
                letter-spacing: 0.78px;
            }
            .nav{
                display: none;
            }
            .div{
                display: none;
            }
        }
    }
    @media screen and (min-width:768px){
        
        padding-top: 21px;
        padding-bottom: 21px;
        .header-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-menu{
            display: none;
        }
        .logo{
            display: flex;
            animation: zoomInLeft 2s cubic-bezier(0,.59,.64,.99);
        }
        .logo-web{
            color: color.$button;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
            display: flex;
        }
        .logo-studio{
            color: color.$logocolour;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
        }
        .nav-page{
            color: color.$standart-text;
            font-size:  t.$standart-font-size;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            @include m.transition(none);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                color: color.$button;
            }
        }
        .div-contact{
            color: color.$add-information;
            font-size:  12px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            display: flex;
            @include m.transition(none);
            &:hover{
                color: color.$button;
                font-family: t.$standart-font;
                font-size:  t.$standart-font-size;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.28px;
            }
        }
        .nav{
            display: flex;
            margin-right:  4.5px;
        }
        .nav-ul{
            display: flex;
            column-gap: 50px;
        }
        .div{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .choosen{
            position: relative;
            color: color.$button;
            
            @include m.transition(fill);
            &::after{
                content: "";
                display: block;
                width: 100%;
                border-radius: 2px;
                background: color.$button;
                height: 4px;
                position: absolute;
                top: 44px;
            }
        }
        .header-email{
            width: 16px;
            height: 12px;
            fill: #757575;
            display: flex;
            align-items: center;
        }
        .header-phone{
            width: 10px;
            height: 16px;
            fill: #757575;
            display: flex;
            align-items: center;
        }
        .div-contact{
            align-items: center;
            gap: 8px;
            &:hover svg{
                fill: color.$button;
            }
             svg{
                @include m.transition(fill);
             }
        }
    }
    }
    @media screen and (min-width:1200px){
        
        padding-top: 24px;
        padding-bottom: 24px;
        
        .header-div{
        .logo{
            display: flex;
            animation: zoomInLeft 2s cubic-bezier(0,.59,.64,.99);
        }.header{
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid color.$line;
            
        }.header-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }.logo-web{
            color: color.$button;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
            display: flex;
        }.logo-studio{
            color: color.$logocolour;
            font-family: t.$logo-font;
            font-size: 26px;
            font-weight:  t.$standart-weight;
            line-height: normal;
            letter-spacing: 0.78px;
        }
        .nav-page{
            color: color.$standart-text;
            font-size:  t.$standart-font-size;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            @include m.transition(none);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                color: color.$button;
            }
        }
        .div-contact{
            color: color.$add-information;
            font-size:  t.$standart-font-size;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            display: flex;
            @include m.transition(none);
            &:hover{
                color: color.$button;
                font-family: t.$standart-font;
                font-size:  t.$standart-font-size;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.28px;
            }
        }
        .nav{
            display: flex;
            margin-right: 225px;
        }
        .nav-ul{
            display: flex;
            column-gap: 50px;
        }
        .div{
            display: flex;
            flex-direction: row;
            column-gap: 50px;
        }
        .choosen{
            position: relative;
            color: color.$button;
            
            @include m.transition(fill);
            &::after{
                content: "";
                display: block;
                width: 100%;
                border-radius: 2px;
                background: color.$button;
                height: 4px;
                position: absolute;
                top: 44px;
            }
        }
        .header-email{
            width: 16px;
            height: 12px;
            fill: #757575;
            display: flex;
            align-items: center;
        }
        .header-phone{
            width: 10px;
            height: 16px;
            fill: #757575;
            display: flex;
            align-items: center;
        }
        .div-contact{
            align-items: center;
            gap: 10px;
            &:hover svg{
                fill: color.$button;
            }
        }
    }
    }
}
/*
}*/