@use '../base/color';
@use '../base/typography' as t;

@media screen and (min-width:320px){
    .prefer-ul{
    display: flex;
    padding: 60px 0;
    gap:30px;
    justify-content: center;
    flex-direction: column;
    }
    .prefer-title{
        color: color.$standart-text;
        font-size: 14px;
        font-weight:  t.$standart-weight;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 0 0;
        padding-bottom: 10px;
    }
    .prefer-text{
        color: color.$add-information;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71429;
        letter-spacing: 0.42px;
    }
    .prefer-svg{
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: color.$ourteam;
        width: 100%;
    }
}
@media screen and (min-width:768px){
    .prefer-ul{
    display: flex;
    padding: 60px 0;
    gap:30px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .prefer-li{
        width: calc((100% - 30px)/2);
    }
    .prefer-svg{
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: color.$ourteam;
    }
    .prefer-title{
        text-align:left;
    }
}
@media screen and (min-width:1200px){
    .prefer-ul{
    display: flex;
    padding: 94px 0;
    column-gap:30px;
    justify-content: center;
    }
    .prefer-li{
        width: calc((100% - 30px*4)/4);
    }
    .prefer-title{
        color: color.$standart-text;
        font-size:  t.$standart-font-size;
        font-weight:  t.$standart-weight;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin: 0 0 0 0;
    }
    .prefer-text{
        color: color.$add-information;
        font-size:  t.$standart-font-size;
        font-weight: 400;
        line-height: 1.71429;
        letter-spacing: 0.42px;
    }
    .prefer-svg{
        width: 270px;
        height: 120px;
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: color.$ourteam;
    }
}