@use '../base/color';
@use '../utils/placeholder';
@use '../base/typography' as t;
.work-ul{
    display: flex;
    justify-content: space-between;
}
.work-img{
    display: block;
    height: auto;
    max-width: 100%;
}
.work-title{
    text-align: center;
    padding-bottom: 50px;
    @extend %main-h2-text;
}
.work-li{
    position: relative;
    &:hover {
        animation: swing 1s;
        animation-fill-mode: both;
    }
}
.work-li-text{
    display: block;
    text-align: center;
    width: 100%;
    padding: 27px 0;
    position: absolute;

    color: color.$h1text;
    font-size:  t.$standart-font-size;
    font-weight:  t.$standart-weight;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    background: rgba(47, 48, 58, 0.80);

    bottom: 0;
}
