@use '../base/color';
@use '../base/typography' as t;
%main-h2-text{
    color: color.$standart-text;
    font-weight:  t.$standart-weight;
    @media screen and (min-width:480px){
        letter-spacing: 1.03px;
        font-size: 28px;
    }
    @media screen and (min-width:1200px){
        font-size: 36px;
        letter-spacing: 1.08px;
            
    }
}